.container {
    max-width: 700px;
    width: 100%;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    button {
        color: var(--h1Color);
        background-color: transparent;

        border: none;
        padding: 20px 15px;
        width: fit-content;
        margin: 20px auto;

        cursor: pointer;

        font-family: inherit;
        font-weight: 300;

        position: relative;

        display: flex;
        justify-content: center;

        text-decoration: underline;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin: 15px;

        li,
        li.li_load {
            list-style: none;
            display: flex;
            align-items: center;

            &::before {
                background-color: var(--h1Color);
                width: 6px;
                height: 6px;
                content: '';
                position: absolute;
            }

            a {
                color: var(--h1Color);
                margin-left: 20px;
            }
        }
    }
}