.container {
    width: 100%;
    max-width: 700px;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // border: 1px solid red;

    h1 {
        font-weight: 300;
        font-size: 20px;
        margin: 30px 0;

        color: var(--subtitlesColor);
    }

    .projects_grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;

        gap: 30px;

        .project {
            border-radius: 12px;
            border: 1px solid var(--neonLight);
            position: relative;
            height: 200px;

            display: flex;

            // background: linear-gradient(120deg, #ddd, #eee);
            background: linear-gradient(120deg, rgba(105, 88, 164, 0.187), rgba(40, 60, 192, 0.1));
            overflow: hidden;

            transition: 0.1s;

            box-shadow: 0 0 32px rgba(29, 24, 68, 0.394);

            justify-content: center;
            align-items: center;

            backdrop-filter: blur(10px);

            h1 {
                font-size: 21px;

                margin: 20px;

                z-index: 10;
                height: fit-content;
                position: relative;

                a {
                    border-radius: 30px;
                    padding: 10px;

                    color: var(--h1Color);
                    font-weight: 700;
                    text-decoration: none;
                    width: 100%;
                    height: 100%;

                }

                .description {

                    font-size: 12px;
                    text-align: justify;
                    max-width: 200px;

                    margin-top: 10px;
                    margin-left: 11px;

                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;

                    line-height: 1.5;
                }
            }

            .c_preview {
                width: 160px;
                height: 160px;
                position: absolute;
                right: -40px;


                border-radius: 12px;
                overflow: hidden;

                font-size: 160px;
                color: var(--subtitlesColor);
                opacity: 20%;

                img {
                    object-fit: cover;
                    object-position: top;
                }
            }
        }

        .row_one {
            display: flex;
            width: 100%;
            gap: 30px;

            .project {

                &:nth-child(1) {
                    width: 70%;
                }

                &:nth-child(2) {
                    width: 30%;
                }
            }
        }

        .row_two {
            display: flex;
            gap: 30px;
            width: 100%;

            .project {
                &:nth-child(1) {
                    width: 40%;
                }

                &:nth-child(2) {
                    width: 60%;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .projects_grid {

        position: relative;
        width: 100%;
        padding: 40px;

        .row_one,
        .row_two {
            flex-direction: column;
            width: 100%;
            position: relative;

            .project {
                width: 100%;
                max-width: 100%;
                min-width: 100%;

                .c_preview {
                    width: 100%;
                }
            }
        }
    }
}