*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    background-color: #fff;
    width: 100%;
    height: 100%;

    background-color: var(--bgColor);
    // background: radial-gradient(rgb(73, 47, 245) , var(--bgColor) 60%);

    overflow-x: hidden;

}

:root {
    --menuHeight: 80px;
}


body.light {
    --bgColor: #fff;
    --bgColorT50: rgba(255, 255, 255, 0.535);
    --bgColorComponents: #f0f0f0;

    --neonLight: #8623ff;

    --lines: #c0c2cacc;

    --h1Color: #222222;
    --h2Color: #aeaeae;

    --subtitlesColor: #484848;

    background: radial-gradient(rgba(49, 33, 151, 0.202) 0%, var(--bgColor) 50%);

    --sectionColorHightlight: rgb(250, 250, 255);
}

body.dark {
    --bgColor: #111112;
    --bgColorT50: #11111282;
    --bgColorComponents: #18191ccc;

    --neonLight: #9641fe;

    --lines: #7c7f89cc;

    --h1Color: #ffffff;
    --h2Color: #767676;

    --subtitlesColor: #e4e4e4;

    background: radial-gradient(rgb(34, 28, 80) 1%, var(--bgColor) 40%);

    --sectionColorHightlight: #111112;
}