.container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--sectionColorHightlight);
    // background-color: #2a242c;
    
    .content {
        max-width: 700px;
        height: fit-content;

        display: flex;
        justify-content: center;
        flex-direction: column;

        padding:  100px 0 ;


        h1 {
            margin-bottom: 25px;
            color: var(--h1Color);
            &::selection {
                background-color: rgba(248, 219, 103, 0.733);
                color: rgb(25, 25, 25);
            }
        }

        h2 {
            color: rgb(151, 75, 250);
            font-size: 16px;
            margin-bottom: 5px;
            margin-left: 2px;


            &::selection {
                background-color: rgba(248, 219, 103, 0.733);
                color: rgb(25, 25, 25);
            }
        }

        p {
            color: var(--h2Color);
            line-height: 1.5;
            text-align: justify;

            &::selection {
                background-color: rgba(248, 219, 103, 0.733);
                color: rgb(25, 25, 25);
            }
        }
    }
}

@media (max-width: 700px) {
    .container .content {
        padding: 0 20px;
    }
}